@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow-bold";
  src: url("./assets/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Barlow-semi";
  src: url("./assets/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf")
    format("truetype");
}

:root {
  --font-sans: "Barlow-semi";
  --font-serif: "Barlow-bold";
  --bg-light: hsl(214 47% 23%);
  --bg-dark: hsl(237 49% 15%);
  --text-dark: hsl(229 25% 31%);
  --score: hsl(229 64% 46%);
  --outline: hsl(217 16% 45%);
  --scissors-one: hsl(39, 89%, 49%);
  --scissors-two: hsl(40, 84%, 53%);
  --paper-one: hsl(230, 89%, 62%);
  --paper-two: hsl(230, 89%, 65%);
  --rock-one: hsl(349, 71%, 52%);
  --rock-two: hsl(349, 70%, 56%);
  --lizard-one: hsl(261, 73%, 60%);
  --lizard-two: hsl(261, 72%, 63%);
  --cyan-one: hsl(189, 59%, 53%);
  --cyan-two: hsl(189, 58%, 57%);
}

@layer base {
  body {
    @apply font-sans uppercase;
  }

  h1 {
    @apply text-4xl font-bold font-serif leading-tight tracking-tight;
  }
}

/* bg-[radial-gradient(circle,_#3b82f6,_#9333ea)] */
